.plan-card {
  background: #2C2C2C;
  border-radius: 10px;
  padding: 25px 5px;
  text-align: center;
  width: 320px;
  height: 420px;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  overflow: hidden;
}

.plan-card:hover {
  background-color: #181818;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(2, 2, 2, 0.4);
  border: solid 1px white;
}

.plan-header {
  margin-bottom: 10px;
}

.plan-card h2 {
  font-size: 1.6rem;
  color: #cccccc;
  font-weight: bold;
  margin-top: 0;
}

.plan-pricing {
  margin-bottom: 15px;
}

.plan-monthly {
  font-size: 1.6rem;
  color: #28a745;
  font-weight: bold;
  margin: 5px 0;
}

.plan-total {
  font-size: 0.95rem;  /* Reduzi um pouco o tamanho */
  color: white;  /* Garantindo que fique branco */
  font-weight: bold;
  margin-top: 5px;  /* Ajuste para melhorar espaçamento */
}

.plan-installments {
  margin-bottom: 10px;
}

.plan-installment {
  font-size: 1rem;
  color: #cccccc;
  margin-bottom: 10px;
}

.plan-features {
  margin-bottom: 20px;
}

.plan-card ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.plan-card li {
  font-size: 1rem;
  color: #cccccc;
  margin: 5px 0;
}

.plan-footer {
  margin-top: 10px;
}

.subscribe-button {
  background: linear-gradient(135deg, #ff6600, #ff4500);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.subscribe-button:hover {
  background: linear-gradient(135deg, #ff4500, #ff2200);
}
