.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 0 10px; /* Adicionando espaçamento nas laterais */
  width: 100%;
}

.search-bar input {
  width: 100%;
  max-width: 450px; /* Aumentando a largura máxima */
  padding: 12px 16px; /* Ajustando o padding para maior conforto */
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 12px; /* Bordas mais arredondadas */
  outline: none;
  background-color: #f9f9f9; /* Fundo mais suave */
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s; /* Melhorando o tempo de transição */
}

.search-bar input::placeholder {
  color: #aaa; /* Cor do placeholder */
  font-style: italic; /* Estilo em itálico para o texto de placeholder */
}

.search-bar input:focus {
  border-color: #007bff;
  box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.3); /* Sombras mais sutis */
}

@media (max-width: 600px) {
  .search-bar {
    padding: 0 20px; /* Adicionando espaçamento nas laterais em telas menores */
  }

  .search-bar input {
    width: 100%;
    max-width: 90%; /* Ajuste na largura máxima */
    font-size: 14px;
  }
}
