.server-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  background-color: #121212;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: 0 0 50px 0;
}

.server-detail-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.server-name {
  font-size: 2rem;
  font-weight: bold;
  color: #f0f0f0;
  margin: 15px 0;
  font-family: 'DM Sans', sans-serif;
}

.server-description,
.evento-description,
.notices {
  font-size: 1.2rem;
  color: #c0c0c0;
  margin: 10px 0;
  line-height: 1.6;
  font-family: 'DM Sans', sans-serif;
  max-width: 85%;
}

.server-links {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #ff0000b0, #004d7a);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  font-family: 'Rajdhani', sans-serif;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.4);
}

.back-button {
  
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background 0.3s ease;
}

.back-button:hover {
  background: #424242;
}


@media (max-width: 768px) {
  .server-detail {
    padding: 20px;
  }

  .server-name {
    font-size: 1.8rem;
  }

  .server-description,
  .evento-description,
  .notices {
    font-size: 1rem;
    max-width: 100%;
  }

  .server-links {
    flex-direction: column;
    gap: 8px;
  }

  .button {
    width: 100%;
    text-align: center;
  }
}
