.plans-container {
  text-align: center;
  padding: 40px 20px;
}

.plans-container h1 {
  font-size: 2rem;
  color: #ddd;
  margin-bottom: 10px;
}

.plans-container h1.plans-title {
  font-size: 2.5rem; /* Aumenta o tamanho da fonte */
  color: #eeeeee; /* Cor mais suave e elegante */
  font-weight: bold; /* Deixa o texto em negrito */
  margin-bottom: 15px; /* Ajusta o espaço abaixo do título */
}

.plans-container p.plans-p {
  font-size: 1.2rem; /* Tamanho de fonte para o parágrafo */
  color: #ddd; /* Cor cinza suave */
  line-height: 1.6; /* Aumenta o espaçamento entre as linhas */
  margin-bottom: 20px; /* Ajusta o espaço abaixo do parágrafo */
}


.plans-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.back-button {
  margin-top: 20px;
  background: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.back-button:hover {
  background: #555;
}

.plan-options {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.plan-options button {
  background: #ddd;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.plan-options button.active {
  background: #181818;
  color: white;
  font-weight: bold;
}

.plan-options button:hover {
  background: #2c2c2c;
  color: white;
}
