.plans-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    background-color: #1E1E1E;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    min-height: 100vh;
    max-width: 100%;
  }
  
  .plans-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #f0f0f0;
    margin-bottom: 15px;
    font-family: 'DM Sans', sans-serif;
  }
  
  .plans-container p {
    font-size: 1.2rem;
    color: #c0c0c0;
    margin-bottom: 30px;
    max-width: 85%;
    line-height: 1.6;
    font-family: 'DM Sans', sans-serif;
  }
  
  .plans-list {
    display: flex;
    gap: 20px;
    max-width: 90%;
  }


  
  .back-button {
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 20px;
    background: #181818;
    transition: background 0.3s ease-in-out;
  }
  
  .back-button:hover {
    background: #2C2C2C;
  }
  
  .plans-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.4);
  }

  
  @media (max-width: 768px) {
    .plans-list {
      flex-direction: column;
      align-items: center;
    }
  
    .plans-container h1 {
      font-size: 2rem;
    }
  
    .plans-container p {
      font-size: 1rem;
      max-width: 100%;
    }
  
    .plans-button {
      width: 100%;
      text-align: center;
    }
  }
  