html, body {
  height: 100%;
  margin: 0 0 50px 0;
  background-color: #1E1E1E;
}

.server-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  background-color: #1E1E1E;
  max-width: 100%;
  margin: 0 0 50px 0;
}

.server-detail-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.server-name {
  font-size: 2rem;
  font-weight: bold;
  color: #f0f0f0;
  margin: 15px 0;
  font-family: 'DM Sans', sans-serif;
}


.social-h2 {
  margin-bottom: 5px;
  color: #f0f0f0;
}

.server-links {
  margin: 15px 0 45px 0; /* Espaçamento superior e inferior de 55px */
  display: flex;
  justify-content: center;
  gap: 12px;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #242424;
  color: #ffffff;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.2s ease, color 0.3s ease;
}

/* Efeito ao passar o mouse */
.icon-button:hover {
  transform: scale(1.1);
}

/* WhatsApp - Verde */
.icon-button.whatsapp:hover {
  background-color: #25D366;
  color: white;
}

/* Discord - Azul */
.icon-button.discord:hover {
  background-color: #5865F2;
  color: white;
}

/* YouTube - Vermelho */
.icon-button.youtube:hover {
  background-color: #FF0000;
  color: white;
}

/* Instagram - Degradê (padrão roxo) */
.icon-button.instagram:hover {
  background-color: #C13584;
  color: white;
}

/* Site - Azul Claro */
.icon-button.website:hover {
  background-color: #1E90FF;
  color: white;
}

.back-button {
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background 0.3s ease;
}

.back-button:hover {
  background: #424242;
}

@media (max-width: 768px) {
  .server-links {
    gap: 8px;
    margin: 15px 0 45px 0;
  }

  .icon-button {
    width: 40px;
    height: 40px;
  }
}
