html, body {
  height: 100%;
  margin: 0 0 50px 0;
  background-color: #121212;
}

.server-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  background-color: #121212;
  max-width: 100%;
  margin: 0 0 50px 0;
}

.server-detail-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.server-name {
  font-size: 2rem;
  font-weight: bold;
  color: #f0f0f0;
  margin: 15px 0;
  font-family: 'DM Sans', sans-serif;
}

.server-description,
.evento-description,
.notices {
  font-size: 1.2rem;
  color: #c0c0c0;
  margin: 10px 0;
  line-height: 1.6;
  font-family: 'DM Sans', sans-serif;
  max-width: 85%;
}

.social-h2 {
  color: #ffffff;
}

.server-links {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: nowrap; /* Impede que os itens se movam para a próxima linha */
  justify-content: flex-start; /* Alinha os itens à esquerda */
  gap: 8px; /* Espaçamento entre os itens */
  max-width: 100%;
  overflow-x: auto; /* Permite rolagem horizontal caso os itens ultrapassem a largura disponível */
}

.button {
  display: inline-block;
  padding: 12px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  min-width: 90px; /* Tamanho mínimo do botão */
  white-space: nowrap; /* Impede que o texto quebre */
}

.button:hover {
  background-color: #424242;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.4);
}

.button.active {
  background-color: #22313a; /* Cor de fundo para o botão ativo */
  color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.4);
}

.back-button {
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background 0.3s ease;
}

.back-button:hover {
  background: #424242;
}

@media (max-width: 768px) {
  .server-detail {
    padding: 20px;
  }

  .server-name {
    font-size: 1.8rem;
  }

  .server-description,
  .evento-description,
  .notices {
    font-size: 1rem;
    max-width: 100%;
  }

  .server-links {
    justify-content: flex-start; /* Mantém os itens alinhados à esquerda em telas menores */
    padding: 10px;
  }

  .button {
    width: auto; /* Permite que os botões encolham conforme necessário */
    text-align: center;
    font-size: 11px;
    padding: 15px 8px 15px 8px;
  }
}